html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	visibility: hidden;
}

body.complete {
	visibility: visible;
}

div.samba7-home-header {
	background-color: #4C1213;
	background: rgba(0, 0, 0, 0.3);
}

	div.samba7-home-header img {
		display: block;
		margin: 0 auto;
		padding: 29px 0;
		user-select: none;
		height: 100px;
	}

div.samba7-book-description {
	position: absolute;
	top: 158px;
	left: 0;
	right: 0;
	bottom: 40px;
}

	div.samba7-book-description div.book-container {
		display: table;
		margin: 0 auto;
		height: 100%;
	}

		div.smb7-middle-center {
			height: 100%;
			display: table-cell;
			vertical-align: middle;
		}

			div.smb7-middle-center div.book-contents {

			}

				div.book-contents div.book-logo {
					width: 392px;
					display: inline-block;
					vertical-align: top;
					margin-top: 20px;
				}

					div.book-contents div.book-logo img {
						display: block;
						border: solid 7px rgba(0,0,0,0.3);
						user-select: none;
					}

					div.book-contents div.songbook-play-button {
						margin: 25px auto 70px auto;
						width: 205px;
						height: 76px;
					}

						div.songbook-play-button a.play {
								display: inline-block;
								cursor: pointer;
								background: #fff;
								padding: 2px 20px 9px 20px;
								font-family: Open Sans;
								font-size: 50px;
								border-radius: 6px;
								-webkit-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.49);
								-moz-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.49);
								box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.49);
								opacity: 0.9;
								text-decoration: none;
								color: #000;
						}

						div.songbook-play-button a.play:hover {
							opacity: 1;
						}

						div.songbook-play-button a.play span.symbol,
						div.songbook-play-button a.play span.text {
							vertical-align: middle;
						}

						div.songbook-play-button a.play span.symbol {
							display: inline-block;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 0 25px 30px;
							border-color: transparent transparent transparent #000000;
						}
